body {
  background-color: #dbf6e9;
}

img {
  height: 270px;
}

hr {
  border-style: none;
  border-top-style: solid;
  border-color: #f2d974;
  border-width: 5px;
  width: 10%;
}

h1 {
  color: #120078;
}

h2 {
  color: #965d62;
}
